In [1]:
import pandas as pd
import os,sys
from pathlib import Path

In [2]:
output_dir = "/share/home/wyz/Project/result/2025/202506/20250606_3_cibersortx_immune_cell/20250606_23_MDS_sAML_AML_immune_Karyotype_cell_kmean_merge"

In [3]:
## input
Karyotype_f = "/share/home/wyz/Project/result/2025/202506/20250606_3_cibersortx_immune_cell/20250606_9_MDS_sAML_AML_Immune_cor_cell_kmean_and_clin/20250606_1_stat_df_chiseq_results_Karyotype.xls"

In [ ]:
Karyotype_df =  pd.read_csv(Karyotype_f,sep="\t")
Karyotype_df

                                                     p_value   statistic  df
kmean_k4_mark_vs_t(11;17)(q23;q25)                  0.093453    5.739810 NaN
kmean_k4_mark_vs_Low_Frequency_Group_Sample_Cou...  0.000500  129.683105 NaN
kmean_k4_mark_vs_Normal karyotype                   0.000500   94.635282 NaN
kmean_k4_mark_vs_t(9;11)(p22;q23)                   0.000500   23.872160 NaN
kmean_k4_mark_vs_t(8;21)(q22;q22)                   0.000500   35.075688 NaN
kmean_k4_mark_vs_inv(16)(p13q22)                    0.000500   23.056834 NaN
kmean_k4_mark_vs_'+8                                0.003498   14.437542 NaN
kmean_k4_mark_vs_t(6;11)(q27;q23)                   0.019490   10.672949 NaN
kmean_k4_mark_vs_del(5)                             0.280860    3.960012 NaN
kmean_k4_mark_vs_del(11q)                           0.003498   13.632086 NaN
kmean_k4_mark_vs_del(5q)/del(7q)                    0.000500   32.068564 NaN
kmean_k4_mark_vs_t(15;17)(q22;q11-21)               0.003998   14.762951 NaN
kmean_k4_mark_vs_del(9q)                            0.065967    7.408625 NaN
kmean_k4_mark_vs_Complex karyotype                  0.047476    7.870121 NaN
kmean_k4_mark_vs_t(6;9)(p23;q34)                    0.061969    7.408625 NaN
kmean_k4_mark_vs_del(7q)                            0.816092    0.997201 NaN
kmean_k4_mark_vs_'-Y                                1.000000    0.323845 NaN
kmean_k4_mark_vs_'+21                               0.842079    1.377909 NaN
kmean_k4_mark_vs_del(5q)                            0.088456    6.621654 NaN
kmean_k4_mark_vs_del(20q)                           0.407796    2.930396 NaN
kmean_k4_mark_vs_del(12p)                           0.128436    4.903029 NaN
kmean_k4_mark_vs_del(5q)/del(7q)/-Y                 0.000500   83.375779 NaN

In [5]:
merge_df = Karyotype_df

In [6]:

merge_df.reset_index(inplace=True)
merge_df.rename(columns={"index":"Group"},inplace=True)
merge_df

,Group,p_value,statistic,df
0,kmean_k4_mark_vs_t(11;17)(q23;q25),0.093453,5.739810,NaN
1,kmean_k4_mark_vs_Low_Frequency_Group_Sample_Co...,0.000500,129.683105,NaN
2,kmean_k4_mark_vs_Normal karyotype,0.000500,94.635282,NaN
3,kmean_k4_mark_vs_t(9;11)(p22;q23),0.000500,23.872160,NaN
4,kmean_k4_mark_vs_t(8;21)(q22;q22),0.000500,35.075688,NaN
5,kmean_k4_mark_vs_inv(16)(p13q22),0.000500,23.056834,NaN
6,kmean_k4_mark_vs_'+8,0.003498,14.437542,NaN
7,kmean_k4_mark_vs_t(6;11)(q27;q23),0.019490,10.672949,NaN
8,kmean_k4_mark_vs_del(5),0.280860,3.960012,NaN
9,kmean_k4_mark_vs_del(11q),0.003498,13.632086,NaN
10,kmean_k4_mark_vs_del(5q)/del(7q),0.000500,32.068564,NaN
11,kmean_k4_mark_vs_t(15;17)(q22;q11-21),0.003998,14.762951,NaN
12,kmean_k4_mark_vs_del(9q),0.065967,7.408625,NaN
13,kmean_k4_mark_vs_Complex karyotype,0.047476,7.870121,NaN
14,kmean_k4_mark_vs_t(6;9)(p23;q34),0.061969,7.408625,NaN
15,kmean_k4_mark_vs_del(7q),0.816092,0.997201,NaN
16,kmean_k4_mark_vs_'-Y,1.000000,0.323845,NaN
17,kmean_k4_mark_vs_'+21,0.842079,1.377909,NaN
18,kmean_k4_mark_vs_del(5q),0.088456,6.621654,NaN
19,kmean_k4_mark_vs_del(20q),0.407796,2.930396,NaN
20,kmean_k4_mark_vs_del(12p),0.128436,4.903029,NaN
21,kmean_k4_mark_vs_del(5q)/del(7q)/-Y,0.000500,83.375779,NaN

In [7]:

def mark_p_value(row):
    if row['p_value'] <= 0.001:
        return "***"
    elif row['p_value'] <= 0.01:
        return "**"
    elif row['p_value'] <= 0.05:
        return "*"
    else:
        return "NS."
 
merge_df['p_value_mark'] = merge_df.apply(mark_p_value, axis=1)
merge_df

,Group,p_value,statistic,df,p_value_mark
0,kmean_k4_mark_vs_t(11;17)(q23;q25),0.093453,5.739810,NaN,NS.
1,kmean_k4_mark_vs_Low_Frequency_Group_Sample_Co...,0.000500,129.683105,NaN,***
2,kmean_k4_mark_vs_Normal karyotype,0.000500,94.635282,NaN,***
3,kmean_k4_mark_vs_t(9;11)(p22;q23),0.000500,23.872160,NaN,***
4,kmean_k4_mark_vs_t(8;21)(q22;q22),0.000500,35.075688,NaN,***
5,kmean_k4_mark_vs_inv(16)(p13q22),0.000500,23.056834,NaN,***
6,kmean_k4_mark_vs_'+8,0.003498,14.437542,NaN,**
7,kmean_k4_mark_vs_t(6;11)(q27;q23),0.019490,10.672949,NaN,*
8,kmean_k4_mark_vs_del(5),0.280860,3.960012,NaN,NS.
9,kmean_k4_mark_vs_del(11q),0.003498,13.632086,NaN,**
10,kmean_k4_mark_vs_del(5q)/del(7q),0.000500,32.068564,NaN,***
11,kmean_k4_mark_vs_t(15;17)(q22;q11-21),0.003998,14.762951,NaN,**
12,kmean_k4_mark_vs_del(9q),0.065967,7.408625,NaN,NS.
13,kmean_k4_mark_vs_Complex karyotype,0.047476,7.870121,NaN,*
14,kmean_k4_mark_vs_t(6;9)(p23;q34),0.061969,7.408625,NaN,NS.
15,kmean_k4_mark_vs_del(7q),0.816092,0.997201,NaN,NS.
16,kmean_k4_mark_vs_'-Y,1.000000,0.323845,NaN,NS.
17,kmean_k4_mark_vs_'+21,0.842079,1.377909,NaN,NS.
18,kmean_k4_mark_vs_del(5q),0.088456,6.621654,NaN,NS.
19,kmean_k4_mark_vs_del(20q),0.407796,2.930396,NaN,NS.
20,kmean_k4_mark_vs_del(12p),0.128436,4.903029,NaN,NS.
21,kmean_k4_mark_vs_del(5q)/del(7q)/-Y,0.000500,83.375779,NaN,***

In [8]:
output_f = os.path.join(output_dir, "20250606_21_MDS_sAML_AML_immune_chisq_cell_kmean_merge_vs_class_stat.xls")
merge_df.to_csv(output_f,index = False)