In [1]:
rm(list = ls())

# libPaths --------------------------------------------------------------------
.libPaths(c(
  "/share/home/bioinfo/anaconda3/envs/R-4.2.3/lib/R/library"
))

.libPaths()
options(warn=1)

[1] "/share/home/bioinfo/anaconda3/envs/R-4.2.3/lib/R/library"
[2] "/share/home/wyz/miniconda3/envs/R423base_ipynb/lib/R/library"

In [2]:
# devtools::install_github("satijalab/seurat", ref = "develop")
{
  library(readr) #R 4.2.2 #R 4.2.3
  library(ggplot2); #R 4.2.2 #R 4.2.3
  library(tidyverse); #R 4.2.2
  library(openxlsx); #R 4.2.3
  library(readxl); #R 4.2.3
  library(dplyr); #R 4.2.2 #R 4.2.3
  
  library(pheatmap) #R 4.2.2 #R 4.2.3
  library(ggrastr) #R 4.2.3
  library(ggpubr) #R 4.2.2 #R 4.2.3
  
  #library(Seurat); #R 4.2.2 #R 4.2.3
  
  # library(harmony); #R 4.2.3
  # library(clustree) #R 4.2.3
  # library(future); #R 4.2.2 #R 4.2.3
  
  # library(Matrix)
  # packageVersion("Matrix")
  
  #library(ComplexHeatmap)
  
}

── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.4     ✔ stringr   1.5.0
✔ forcats   1.0.0     ✔ tibble    3.2.1
✔ lubridate 1.9.3     ✔ tidyr     1.3.1
✔ purrr     1.0.2
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

In [3]:
# input path --------------------------------------------------------------

if (TRUE){
  ## output
  output_dir = "/share/home/wyz/Project/result/2025/202507/20250731_1_bluk_rnaseq_split_immune_group_barplot/20250804_2_bluk_rnaseq_split_group_barplot_blast"
}

In [4]:
# input path --------------------------------------------------------------

{
  blast_f = "/share/home/wyz/Project/result/2025/202507/20250730_1_bluk_rnaseq_split_group_barplot_data/20250710_1_bluk_rnaseq_split_group_barplot_blast_data.xls"
  day_f = "/share/home/wyz/Project/result/2025/202507/20250730_1_bluk_rnaseq_split_group_barplot_data/20250730_1_bluk_rnaseq_split_group_barplot_Survival_days_data.xls"
  }

In [5]:

{
  ## read file
  blast_df = read.table(blast_f,sep="\t",header = T,check.names = FALSE)
  print(head(blast_df))
  dim(blast_df) 
  
}


{
  ## read file
  day_df = read.table(day_f,sep="\t",header = T,check.names = FALSE) 
  print(head(day_df))

  dim(day_df) #
  
}


{
  table(blast_df$Group)
  table(day_df$Group)
  
  unique(blast_df$Group)
  unique(day_df$Group)
  
  head(blast_df)
  head(day_df)
}

          Sample_ID CD4_T_Percent CD8_T_Percent NK_Percent  B_Percent
1 AML_Beat_12_00051     0.2482904     0.2599271  0.4469119 0.04487059
2 AML_Beat_12_00211     0.3852085     0.1774076  0.3341898 0.10319411
3 AML_Beat_13_00157     0.2361893     0.3295964  0.3116003 0.12261398
4 AML_Beat_13_00163     0.3902097     0.2991571  0.1765658 0.13406738
5 AML_Beat_13_00195     0.2065725     0.2196796  0.4331788 0.14056916
6 AML_Beat_13_00232     0.1735322     0.2939293  0.4084306 0.12410792
  TNKB_Percent_Sum BM_Blast_Percent Survival_days Survival_Status
1                1             88.0         707.0            Dead
2                1             90.0        1396.0           Alive
3                1             80.0        1379.0           Alive
4                1             50.0         400.0           Alive
5                1             90.0         972.0           Alive
6                1             55.0        1001.0           Alive
  Status_ggsurvfit        Group
1                2 Blast_80_100
2                1 Blast_80_100
3                1 Blast_80_100
4                1  Blast_40_80
5                1 Blast_80_100
6                1  Blast_40_80

[1] 625  11

          Sample_ID CD4_T_Percent CD8_T_Percent NK_Percent  B_Percent
1 AML_Beat_12_00051     0.2482904     0.2599271  0.4469119 0.04487059
2 AML_Beat_12_00211     0.3852085     0.1774076  0.3341898 0.10319411
3 AML_Beat_13_00157     0.2361893     0.3295964  0.3116003 0.12261398
4 AML_Beat_13_00163     0.3902097     0.2991571  0.1765658 0.13406738
5 AML_Beat_13_00195     0.2065725     0.2196796  0.4331788 0.14056916
6 AML_Beat_13_00232     0.1735322     0.2939293  0.4084306 0.12410792
  TNKB_Percent_Sum BM_Blast_Percent Survival_days Survival_Status
1                1               88           707            Dead
2                1               90          1396           Alive
3                1               80          1379           Alive
4                1               50           400           Alive
5                1               90           972           Alive
6                1               55          1001           Alive
  Status_ggsurvfit              Group
1                2        OS_Year_1_5
2                1 Follow_up_Year_1_5
3                1 Follow_up_Year_1_5
4                1 Follow_up_Year_1_5
5                1 Follow_up_Year_1_5
6                1 Follow_up_Year_1_5

[1] 1309   11

  Sample_ID         CD4_T_Percent CD8_T_Percent NK_Percent B_Percent
1 AML_Beat_12_00051 0.2482904     0.2599271     0.4469119  0.04487059
2 AML_Beat_12_00211 0.3852085     0.1774076     0.3341898  0.10319411
3 AML_Beat_13_00157 0.2361893     0.3295964     0.3116003  0.12261398
4 AML_Beat_13_00163 0.3902097     0.2991571     0.1765658  0.13406738
5 AML_Beat_13_00195 0.2065725     0.2196796     0.4331788  0.14056916
6 AML_Beat_13_00232 0.1735322     0.2939293     0.4084306  0.12410792
  TNKB_Percent_Sum BM_Blast_Percent Survival_days Survival_Status
1 1                88                707          Dead
2 1                90               1396          Alive
3 1                80               1379          Alive
4 1                50                400          Alive
5 1                90                972          Alive
6 1                55               1001          Alive
  Status_ggsurvfit Group
1 2                OS_Year_1_5
2 1                Follow_up_Year_1_5
3 1                Follow_up_Year_1_5
4 1                Follow_up_Year_1_5
5 1                Follow_up_Year_1_5
6 1                Follow_up_Year_1_5

In [6]:
  # day_df = day_df %>% filter(Group %in% c("OS_Year_0_1", "OS_Year_1_5", "OS_Year_5_up"))
  # table(day_df$Group)

 OS_Year_0_1  OS_Year_1_5 OS_Year_5_up
         508          264           22

In [7]:
# -------------------------------------------------------------------------

if(FALSE){
  ## 合并数据框
  merge_df = rbind(blast_df,day_df)
  print(dim(merge_df))
  head(merge_df)
  dim(merge_df) # [1] 2182   11
  
  table(merge_df$Group)
  unique(merge_df$Group)
}

In [6]:

{
  merge_df = blast_df
}

In [7]:



{
  ## save
  output_f_path = file.path(output_dir,"20250710_1_bluk_rnaseq_split_group_barplot_data.xls")
  write.table(merge_df,file=output_f_path,sep="\t",row.names = F,quote = FALSE)
}

In [8]:
  head(merge_df)

  Sample_ID         CD4_T_Percent CD8_T_Percent NK_Percent B_Percent
1 AML_Beat_12_00051 0.2482904     0.2599271     0.4469119  0.04487059
2 AML_Beat_12_00211 0.3852085     0.1774076     0.3341898  0.10319411
3 AML_Beat_13_00157 0.2361893     0.3295964     0.3116003  0.12261398
4 AML_Beat_13_00163 0.3902097     0.2991571     0.1765658  0.13406738
5 AML_Beat_13_00195 0.2065725     0.2196796     0.4331788  0.14056916
6 AML_Beat_13_00232 0.1735322     0.2939293     0.4084306  0.12410792
  TNKB_Percent_Sum BM_Blast_Percent Survival_days Survival_Status
1 1                88.0             707.0         Dead
2 1                90.0             1396.0        Alive
3 1                80.0             1379.0        Alive
4 1                50.0             400.0         Alive
5 1                90.0             972.0         Alive
6 1                55.0             1001.0        Alive
  Status_ggsurvfit Group
1 2                Blast_80_100
2 1                Blast_80_100
3 1                Blast_80_100
4 1                Blast_40_80
5 1                Blast_80_100
6 1                Blast_40_80

In [9]:
# -------------------------------------------------------------------------
{
  head(merge_df)
  cell_list = c("CD4_T_Percent","CD8_T_Percent","NK_Percent","B_Percent")
}


{
  library(tidyr)
  
  df_long <- merge_df %>%
    pivot_longer(cols = cell_list, 
                 names_to = "Cell_Type", 
                 values_to = "Value")
  head(df_long)
  print(dim(df_long))
  
  table(df_long$Group)
  unique(df_long$Group)
  df_long[is.na(df_long$Group), ]
}

Warning message:
“Using an external vector in selections was deprecated in tidyselect 1.1.0.
ℹ Please use `all_of()` or `any_of()` instead.
  # Was:
  data %>% select(cell_list)

  # Now:
  data %>% select(all_of(cell_list))

See <https://tidyselect.r-lib.org/reference/faq-external-vector.html>.”

[1] 2500    9

     Sample_ID TNKB_Percent_Sum BM_Blast_Percent Survival_days Survival_Status
     Status_ggsurvfit Group Cell_Type Value

In [11]:
  head(df_long)

  Sample_ID         TNKB_Percent_Sum BM_Blast_Percent Survival_days
1 AML_Beat_12_00051 1                88                707
2 AML_Beat_12_00051 1                88                707
3 AML_Beat_12_00051 1                88                707
4 AML_Beat_12_00051 1                88                707
5 AML_Beat_13_00393 1                21               1237
6 AML_Beat_13_00393 1                21               1237
  Survival_Status Status_ggsurvfit Group       Cell_Type     Value
1 Dead            2                OS_Year_1_5 CD4_T_Percent 0.24829041
2 Dead            2                OS_Year_1_5 CD8_T_Percent 0.25992707
3 Dead            2                OS_Year_1_5 NK_Percent    0.44691193
4 Dead            2                OS_Year_1_5 B_Percent     0.04487059
5 Dead            2                OS_Year_1_5 CD4_T_Percent 0.15982305
6 Dead            2                OS_Year_1_5 CD8_T_Percent 0.20665108

In [10]:



# -------------------------------------------------------------------------

{
  df_long$Group = factor(df_long$Group,levels = c(
    "Blast_0_2","Blast_2_5","Blast_5_10","Blast_10_20","Blast_20_40","Blast_40_80","Blast_80_100"
  ))
  
  table(df_long$Group)
  unique(df_long$Group)
}

{
  df_long$Cell_Type_Mark <- gsub("_Percent", "", df_long$Cell_Type)
  cell_list2 = c("CD4_T","CD8_T","NK","B")
  
  df_long$Cell_Type_Mark = factor(df_long$Cell_Type_Mark ,levels = cell_list2)
  
  head(df_long)
  
  head(df_long)
  
  
}


{
  ## save
  output_f_path = file.path(output_dir,"20250710_2_bluk_rnaseq_split_group_barplot_data_long_df.xls")
  write.table(df_long,file=output_f_path,sep="\t",row.names = F,quote = FALSE)
  
}

[1] Blast_80_100 Blast_40_80  Blast_20_40  Blast_0_2    Blast_2_5
[6] Blast_5_10   Blast_10_20
7 Levels: Blast_0_2 Blast_2_5 Blast_5_10 Blast_10_20 ... Blast_80_100

  Sample_ID         TNKB_Percent_Sum BM_Blast_Percent Survival_days
1 AML_Beat_12_00051 1                88.0             707.0
2 AML_Beat_12_00051 1                88.0             707.0
3 AML_Beat_12_00051 1                88.0             707.0
4 AML_Beat_12_00051 1                88.0             707.0
5 AML_Beat_12_00211 1                90.0             1396.0
6 AML_Beat_12_00211 1                90.0             1396.0
  Survival_Status Status_ggsurvfit Group        Cell_Type     Value
1 Dead            2                Blast_80_100 CD4_T_Percent 0.24829041
2 Dead            2                Blast_80_100 CD8_T_Percent 0.25992707
3 Dead            2                Blast_80_100 NK_Percent    0.44691193
4 Dead            2                Blast_80_100 B_Percent     0.04487059
5 Alive           1                Blast_80_100 CD4_T_Percent 0.38520848
6 Alive           1                Blast_80_100 CD8_T_Percent 0.17740762
  Cell_Type_Mark
1 CD4_T
2 CD8_T
3 NK
4 B
5 CD4_T
6 CD8_T

In [22]:

# -------------------------------------------------------------------------
# -------------------------------------------------------------------------
{
  
  plot_object= ggplot(df_long, aes(x = Group, y = Value, fill = Group)) +
    geom_boxplot(aes(color = Group), outlier.color = NA, fill=NA, alpha=1,linewidth=0.5) +

    facet_wrap(~Cell_Type_Mark, scales = "free_y", ncol = 1, strip.position = "left") +  
    labs(
      x = NULL,
      y = "Percent",   
      title = "Immune Cells Percent"  
    ) +
    scale_y_continuous(labels = scales::percent) +
    theme(
      legend.position = "right",          
      panel.background = element_rect(fill = "white", color = NA),   
      plot.background = element_rect(fill = "white", color = NA),   
      strip.text = element_text(face = "bold"),
      axis.text.x = element_text(angle = 45, hjust = 1),
      axis.line.x = element_line(color = "black", size = 0.5),
      axis.line.y = element_line(color = "black", size = 0.5)
    )+
    scale_color_manual(values = c(
      "Blast_0_2" ="#0f5184", "Blast_2_5" ='#0f5184', "Blast_5_10" = "#0f5184","Blast_10_20" ='#0f5184',
      "Blast_20_40"= "#0f5184","Blast_40_80"="#0f5184","Blast_80_100"="#0f5184",
      "OS_Year_0_1"="#c3102f","OS_Year_1_5"="#c3102f","OS_Year_5_up"="#c3102f")) 
  plot_object
  output_f_path = file.path(output_dir,"20250730_3_3_bluk_rnaseq_split_group_barplot_data_long_df.pdf")
  ggsave(filename=output_f_path,plot=plot_object,device=pdf,width=210,height=250,units="mm")
}

In [25]:

# -------------------------------------------------------------------------
{
  
  plot_object= ggplot(df_long, aes(x = Group, y = Value, fill = Group)) +
    geom_boxplot(aes(color = Group), outlier.color = NA, fill=NA, alpha=1,linewidth=0.5) +

    facet_wrap(~Cell_Type_Mark, scales = "free_y", ncol = 1, strip.position = "left") +  
    labs(
      x = NULL,
      y = "Percent",   
      title = "Immune Cells Percent"  
    ) +
    scale_y_continuous(labels = scales::percent) +
    theme(
      legend.position = "right",          
      panel.background = element_rect(fill = "white", color = NA),   
      plot.background = element_rect(fill = "white", color = NA),   
      strip.text = element_text(face = "bold"),
      axis.text.x = element_text(angle = 45, hjust = 1),
      axis.line.x = element_line(color = "black", size = 0.5),
      axis.line.y = element_line(color = "black", size = 0.5)
    )+
    scale_color_manual(values = c(
      "Blast_0_2" ="#0f5184", "Blast_2_5" ='#0f5184', "Blast_5_10" = "#0f5184","Blast_10_20" ='#0f5184',
      "Blast_20_40"= "#0f5184","Blast_40_80"="#0f5184","Blast_80_100"="#0f5184",
      "OS_Year_0_1"="#c3102f","OS_Year_1_5"="#c3102f","OS_Year_5_up"="#c3102f"))+
    geom_signif(comparisons = list(c("Blast_0_2","Blast_2_5"),
                                 c( "Blast_0_2","Blast_5_10"),c( "Blast_0_2","Blast_10_20"),c( "Blast_0_2","Blast_20_40"),
                                 c( "Blast_0_2","Blast_40_80"),c( "Blast_0_2","Blast_80_100"),
                                 c("OS_Year_0_1","OS_Year_1_5"),c("OS_Year_0_1","OS_Year_5_up"),c("OS_Year_1_5","OS_Year_5_up")),
              map_signif_level = T,
              test = wilcox.test, #
              step_increase = 0.03,
              size = 0.2,
              textsize = 2)
  plot_object
  output_f_path = file.path(output_dir,"20250730_4_3_bluk_rnaseq_split_group_barplot_data_long_df.pdf")
  ggsave(filename=output_f_path,plot=plot_object,device=pdf,width=210,height=250,units="mm")
}

In [11]:
{
  head(df_long)
  library(dplyr)
  df_summary <- df_long %>%
    group_by(Cell_Type_Mark, Group) %>%
    summarize(Mean_Value = mean(Value, na.rm = TRUE),
              SD_Value = sd(Value, na.rm = TRUE),
              n = n(),  # 
              SEM_Value = SD_Value / sqrt(n))  #
  
  df_summary
  df_summary$Cell_Type_Mark
  subset(df_summary,Group == "Blast_0_2")
  
}

`summarise()` has grouped output by 'Cell_Type_Mark'. You can override using
the `.groups` argument.

  Cell_Type_Mark Group     Mean_Value SD_Value   n  SEM_Value
1 CD4_T          Blast_0_2 0.3204313  0.13370901 51 0.01872301
2 CD8_T          Blast_0_2 0.3583479  0.12577866 51 0.01761254
3 NK             Blast_0_2 0.1718677  0.07603328 51 0.01064679
4 B              Blast_0_2 0.1493531  0.07688056 51 0.01076543

In [18]:

{
  plot_object=ggplot(df_summary, aes(x=Group, y=Mean_Value, group=Cell_Type_Mark, color=Cell_Type_Mark)) + 
    geom_line(size = 1) + 
    geom_point(size = 3)+ 
    geom_errorbar(aes(ymin=Mean_Value-SEM_Value, ymax=Mean_Value+SEM_Value), width=.2, position=position_dodge(0.00)) +
    geom_hline(data = subset(df_summary, Group == "Blast_0_2"),
               aes(yintercept = Mean_Value, color = Cell_Type_Mark),
               linetype = "dashed", size = 0.5) +  # 
    labs(
      x = NULL,
      y = "Percent",   
      title = "Immune Cells Percent"  
    ) +
    scale_y_continuous(labels = scales::percent) +
  scale_y_continuous(
    labels = scales::percent,
    breaks = seq(0, 1, by = 0.05),  
    limits = c(0.1, 0.45),
  ) +
    theme(
      legend.position = "right",          
      panel.background = element_rect(fill = "white", color = NA),   
      plot.background = element_rect(fill = "white", color = NA),   
      strip.text = element_text(face = "bold"),
      axis.text.x = element_text(angle = 45, hjust = 1),
      axis.line.x = element_line(color = "black", size = 0.5),
      axis.line.y = element_line(color = "black", size = 0.5)
    )+
    scale_color_manual(values = c(
      "CD4_T" ="#1163a6", "CD8_T" ='#b156c1', "NK" = "#25af31","B"= "#65cdc3"
    )
    )
  
  
  plot_object
  output_f_path = file.path(output_dir,"20250730_3_6_bluk_rnaseq_split_group_barplot_data_long_df.pdf")
  ggsave(filename=output_f_path,plot=plot_object,device=pdf,width=210,height=160,units="mm")
}

Scale for y is already present.
Adding another scale for y, which will replace the existing scale.