In [1]:
import pandas as pd
import os,sys
from pathlib import Path

In [2]:
output_dir = "/share/home/wyz/Project/result/2025/202506/20250606_3_cibersortx_immune_cell/20250606_21_MDS_sAML_AML_immune_chisq_cell_kmean_merge"

In [3]:
## input
IPSS_f = "/share/home/wyz/Project/result/2025/202506/20250606_3_cibersortx_immune_cell/20250606_9_MDS_sAML_AML_Immune_cor_cell_kmean_and_clin/20250606_1_stat_df_chiseq_IPSS.xls"

In [4]:
WHO_f = "/share/home/wyz/Project/result/2025/202506/20250606_3_cibersortx_immune_cell/20250606_9_MDS_sAML_AML_Immune_cor_cell_kmean_and_clin/20250606_1_stat_df_chiseq_WHO_category.xls"

In [5]:
cyto_f = "/share/home/wyz/Project/result/2025/202506/20250606_3_cibersortx_immune_cell/20250606_9_MDS_sAML_AML_Immune_cor_cell_kmean_and_clin/20250606_1_stat_df_chiseq_Cytogenetic_Risk.xls"

In [6]:
FAB_f = "/share/home/wyz/Project/result/2025/202506/20250606_3_cibersortx_immune_cell/20250606_9_MDS_sAML_AML_Immune_cor_cell_kmean_and_clin/20250606_1_stat_df_chiseq_Class_FAB.xls"

In [7]:
ENL_f = "/share/home/wyz/Project/result/2025/202506/20250606_3_cibersortx_immune_cell/20250606_9_MDS_sAML_AML_Immune_cor_cell_kmean_and_clin/20250606_1_stat_df_chiseq_Class_ELN.xls"

In [8]:
gender_f = "/share/home/wyz/Project/result/2025/202506/20250606_3_cibersortx_immune_cell/20250606_9_MDS_sAML_AML_Immune_cor_cell_kmean_and_clin/20250606_1_stat_df_chiseq_Gender.xls"

In [ ]:
IPSS_df =  pd.read_csv(IPSS_f,sep="\t")
IPSS_df

                       p_value  statistic  df
kmean_k4_mark_vs_IPSS   0.0005  47.198727 NaN

In [ ]:
WHO_df =  pd.read_csv(WHO_f,sep="\t")
WHO_df

                               p_value   statistic  df
kmean_k4_mark_vs_WHO_category   0.0005  173.344778 NaN

In [11]:
cyto_df =  pd.read_csv(cyto_f,sep="\t")
cyto_df

                                   p_value  statistic  df
kmean_k4_mark_vs_Cytogenetic_Risk    0.001  33.011804 NaN

In [ ]:
FAB_df =  pd.read_csv(FAB_f,sep="\t")
FAB_df

                             p_value  statistic  df
kmean_k4_mark_vs_Class_FAB  0.002499  65.188986 NaN

In [14]:
ENL_df =  pd.read_csv(ENL_f,sep="\t")
ENL_df

                             p_value  statistic  df
kmean_k4_mark_vs_Class_ELN  0.803098   3.469925 NaN

In [13]:
gender_df =  pd.read_csv(gender_f,sep="\t")
gender_df

                          p_value  statistic  df
kmean_k4_mark_vs_Gender  0.311344   3.491278 NaN

In [15]:
## 按行合并
merge_df = pd.concat([IPSS_df,WHO_df,cyto_df,FAB_df,ENL_df,gender_df],axis=0)
merge_df

                                    p_value   statistic  df
kmean_k4_mark_vs_IPSS              0.000500   47.198727 NaN
kmean_k4_mark_vs_WHO_category      0.000500  173.344778 NaN
kmean_k4_mark_vs_Cytogenetic_Risk  0.001000   33.011804 NaN
kmean_k4_mark_vs_Class_FAB         0.002499   65.188986 NaN
kmean_k4_mark_vs_Class_ELN         0.803098    3.469925 NaN
kmean_k4_mark_vs_Gender            0.311344    3.491278 NaN

In [16]:
merge_df.reset_index(inplace=True)
merge_df.rename(columns={"index":"Group"},inplace=True)
merge_df

                               Group   p_value   statistic  df
0              kmean_k4_mark_vs_IPSS  0.000500   47.198727 NaN
1      kmean_k4_mark_vs_WHO_category  0.000500  173.344778 NaN
2  kmean_k4_mark_vs_Cytogenetic_Risk  0.001000   33.011804 NaN
3         kmean_k4_mark_vs_Class_FAB  0.002499   65.188986 NaN
4         kmean_k4_mark_vs_Class_ELN  0.803098    3.469925 NaN
5            kmean_k4_mark_vs_Gender  0.311344    3.491278 NaN

In [17]:
def mark_p_value(row):
    if row['p_value'] <= 0.001:
        return "***"
    elif row['p_value'] <= 0.01:
        return "**"
    elif row['p_value'] <= 0.05:
        return "*"
    else:
        return "NS."
 
merge_df['p_value_mark'] = merge_df.apply(mark_p_value, axis=1)
merge_df

                               Group   p_value   statistic  df p_value_mark
0              kmean_k4_mark_vs_IPSS  0.000500   47.198727 NaN          ***
1      kmean_k4_mark_vs_WHO_category  0.000500  173.344778 NaN          ***
2  kmean_k4_mark_vs_Cytogenetic_Risk  0.001000   33.011804 NaN          ***
3         kmean_k4_mark_vs_Class_FAB  0.002499   65.188986 NaN           **
4         kmean_k4_mark_vs_Class_ELN  0.803098    3.469925 NaN          NS.
5            kmean_k4_mark_vs_Gender  0.311344    3.491278 NaN          NS.

In [18]:
output_f = os.path.join(output_dir, "20250606_21_MDS_sAML_AML_immune_chisq_cell_kmean_merge_vs_class_stat.xls")
merge_df.to_csv(output_f,index = False)