In [1]:
import pandas as pd
import os,sys
from pathlib import Path

In [2]:
output_dir = "/share/home/wyz/Project/result/2025/202506/20250606_3_cibersortx_immune_cell/20250606_22_MDS_sAML_AML_immune_kruskal_cell_kmean_merge"

In [3]:
## input
HBG_f = "/share/home/wyz/Project/result/2025/202506/20250606_3_cibersortx_immune_cell/20250606_9_MDS_sAML_AML_Immune_cor_cell_kmean_and_clin/20250606_1_stat_df_kruskal_Haemoglobin.xls"

In [4]:
WBC_f = "/share/home/wyz/Project/result/2025/202506/20250606_3_cibersortx_immune_cell/20250606_9_MDS_sAML_AML_Immune_cor_cell_kmean_and_clin/20250606_1_stat_df_kruskal_WBC.xls"

In [5]:
NUC_f = "/share/home/wyz/Project/result/2025/202506/20250606_3_cibersortx_immune_cell/20250606_9_MDS_sAML_AML_Immune_cor_cell_kmean_and_clin/20250606_1_stat_df_kruskal_Neutrophile_Count.xls"

In [6]:
PLT_f = "/share/home/wyz/Project/result/2025/202506/20250606_3_cibersortx_immune_cell/20250606_9_MDS_sAML_AML_Immune_cor_cell_kmean_and_clin/20250606_1_stat_df_kruskal_Platelet_Count.xls"

In [7]:
HBG_df =  pd.read_csv(HBG_f,sep="\t")
HBG_df

                              p_value  statistic  df
kmean_k4_mark_vs_Haemoglobin  0.00206  14.732808   3

In [8]:
WBC_df =  pd.read_csv(WBC_f,sep="\t")
WBC_df

                       p_value  statistic  df
kmean_k4_mark_vs_WBC  0.002908  13.997696   3

In [9]:
NUC_df =  pd.read_csv(NUC_f,sep="\t")
NUC_df

                                     p_value  statistic  df
kmean_k4_mark_vs_Neutrophile_Count  0.000601  17.340349   3

In [10]:
PLT_df =  pd.read_csv(PLT_f,sep="\t")
PLT_df

                                      p_value  statistic  df
kmean_k4_mark_vs_Platelet_Count  5.449148e-14  64.831843   3

In [11]:
merge_df = pd.concat([HBG_df,WBC_df,NUC_df,PLT_df],axis=0)
merge_df

                                         p_value  statistic  df
kmean_k4_mark_vs_Haemoglobin        2.059823e-03  14.732808   3
kmean_k4_mark_vs_WBC                2.908290e-03  13.997696   3
kmean_k4_mark_vs_Neutrophile_Count  6.014912e-04  17.340349   3
kmean_k4_mark_vs_Platelet_Count     5.449148e-14  64.831843   3

In [12]:
merge_df.reset_index(inplace=True)
merge_df.rename(columns={"index":"Group"},inplace=True)
merge_df

                                Group       p_value  statistic  df
0        kmean_k4_mark_vs_Haemoglobin  2.059823e-03  14.732808   3
1                kmean_k4_mark_vs_WBC  2.908290e-03  13.997696   3
2  kmean_k4_mark_vs_Neutrophile_Count  6.014912e-04  17.340349   3
3     kmean_k4_mark_vs_Platelet_Count  5.449148e-14  64.831843   3

In [13]:
def mark_p_value(row):
    if row['p_value'] <= 0.001:
        return "***"
    elif row['p_value'] <= 0.01:
        return "**"
    elif row['p_value'] <= 0.059:
        return "*"
    else:
        return "NS."
 
merge_df['p_value_mark'] = merge_df.apply(mark_p_value, axis=1)
merge_df

,Group,p_value,statistic,df,p_value_mark
0,kmean_k4_mark_vs_Haemoglobin,2.059823e-03,14.732808,3,**
1,kmean_k4_mark_vs_WBC,2.908290e-03,13.997696,3,**
2,kmean_k4_mark_vs_Neutrophile_Count,6.014912e-04,17.340349,3,***
3,kmean_k4_mark_vs_Platelet_Count,5.449148e-14,64.831843,3,***

In [14]:
output_f = os.path.join(output_dir, "20250606_22_MDS_sAML_AML_immune_chisq_cell_kmean_merge_vs_seq_stat.xls")
merge_df.to_csv(output_f,index = False,sep="\t")