In [1]:
import pandas as pd
import os,sys
from pathlib import Path

In [2]:
output_dir = "/share/home/wyz/Project/result/2025/202506/20250605_20250520_1_cibersortx_tumor_cell_kmean_5448_MDS_sAML_AML_merge/20250606_21_MDS_sAML_AML_tumor_chisq_cell_kmean_merge"

In [3]:
## input
Karyotype_f = "/share/home/wyz/Project/result/2025/202506/20250605_20250520_1_cibersortx_tumor_cell_kmean_5448_MDS_sAML_AML_merge/20250606_9_MDS_sAML_AML_tumor_cell_kmean_and_clinical_data_cor_data/20250606_1_stat_df_chiseq_results_Karyotype.xls"

In [4]:
Karyotype_df =  pd.read_csv(Karyotype_f,sep="\t")
Karyotype_df

                                                     p_value  statistic  df
kmean_k5_mark_vs_t(11;17)(q23;q25)                  0.084458   6.625633 NaN
kmean_k5_mark_vs_Low_Frequency_Group_Sample_Cou...  0.000500  89.040598 NaN
kmean_k5_mark_vs_Normal karyotype                   0.000500  53.712558 NaN
kmean_k5_mark_vs_t(9;11)(p22;q23)                   0.000500  32.842112 NaN
kmean_k5_mark_vs_t(8;21)(q22;q22)                   0.001000  24.505486 NaN
kmean_k5_mark_vs_inv(16)(p13q22)                    0.000500  22.813441 NaN
kmean_k5_mark_vs_'+8                                0.040480   9.533820 NaN
kmean_k5_mark_vs_t(6;11)(q27;q23)                   0.929035   1.072300 NaN
kmean_k5_mark_vs_del(5)                             0.620190   2.659331 NaN
kmean_k5_mark_vs_del(11q)                           0.018491  12.687941 NaN
kmean_k5_mark_vs_del(5q)/del(7q)                    0.000500  43.175610 NaN
kmean_k5_mark_vs_t(15;17)(q22;q11-21)               0.000500  37.498960 NaN
kmean_k5_mark_vs_del(9q)                            0.047476   9.846353 NaN
kmean_k5_mark_vs_Complex karyotype                  0.011494  13.076016 NaN
kmean_k5_mark_vs_t(6;9)(p23;q34)                    0.048476   9.846353 NaN
kmean_k5_mark_vs_del(7q)                            0.005997  17.622061 NaN
kmean_k5_mark_vs_'-Y                                0.088456   8.375072 NaN
kmean_k5_mark_vs_'+21                               1.000000   1.108659 NaN
kmean_k5_mark_vs_del(5q)                            0.038481  10.503249 NaN
kmean_k5_mark_vs_del(20q)                           0.247376   5.080602 NaN
kmean_k5_mark_vs_del(12p)                           0.786107   2.118695 NaN
kmean_k5_mark_vs_del(5q)/del(7q)/-Y                 0.000500  40.105353 NaN

In [5]:
merge_df = Karyotype_df

In [6]:
# 行索引转为第一列，并命名为 Group
merge_df.reset_index(inplace=True)
merge_df.rename(columns={"index":"Group"},inplace=True)
merge_df

                                                Group   p_value  statistic  df
0                  kmean_k5_mark_vs_t(11;17)(q23;q25)  0.084458   6.625633 NaN
1   kmean_k5_mark_vs_Low_Frequency_Group_Sample_Co...  0.000500  89.040598 NaN
2                   kmean_k5_mark_vs_Normal karyotype  0.000500  53.712558 NaN
3                   kmean_k5_mark_vs_t(9;11)(p22;q23)  0.000500  32.842112 NaN
4                   kmean_k5_mark_vs_t(8;21)(q22;q22)  0.001000  24.505486 NaN
5                    kmean_k5_mark_vs_inv(16)(p13q22)  0.000500  22.813441 NaN
6                                kmean_k5_mark_vs_'+8  0.040480   9.533820 NaN
7                   kmean_k5_mark_vs_t(6;11)(q27;q23)  0.929035   1.072300 NaN
8                             kmean_k5_mark_vs_del(5)  0.620190   2.659331 NaN
9                           kmean_k5_mark_vs_del(11q)  0.018491  12.687941 NaN
10                   kmean_k5_mark_vs_del(5q)/del(7q)  0.000500  43.175610 NaN
11              kmean_k5_mark_vs_t(15;17)(q22;q11-21)  0.000500  37.498960 NaN
12                           kmean_k5_mark_vs_del(9q)  0.047476   9.846353 NaN
13                 kmean_k5_mark_vs_Complex karyotype  0.011494  13.076016 NaN
14                   kmean_k5_mark_vs_t(6;9)(p23;q34)  0.048476   9.846353 NaN
15                           kmean_k5_mark_vs_del(7q)  0.005997  17.622061 NaN
16                               kmean_k5_mark_vs_'-Y  0.088456   8.375072 NaN
17                              kmean_k5_mark_vs_'+21  1.000000   1.108659 NaN
18                           kmean_k5_mark_vs_del(5q)  0.038481  10.503249 NaN
19                          kmean_k5_mark_vs_del(20q)  0.247376   5.080602 NaN
20                          kmean_k5_mark_vs_del(12p)  0.786107   2.118695 NaN
21                kmean_k5_mark_vs_del(5q)/del(7q)/-Y  0.000500  40.105353 NaN

In [ ]:
# 根据条件标记新的列
def mark_p_value(row):
    if row['p_value'] <= 0.001:
        return "***"
    elif row['p_value'] <= 0.01:
        return "**"
    elif row['p_value'] <= 0.05:
        return "*"
    else:
        return "NS."
 
merge_df['p_value_mark'] = merge_df.apply(mark_p_value, axis=1)
merge_df

,Group,p_value,statistic,df,p_value_mark
0,kmean_k5_mark_vs_t(11;17)(q23;q25),0.084458,6.625633,NaN,NS.
1,kmean_k5_mark_vs_Low_Frequency_Group_Sample_Co...,0.000500,89.040598,NaN,***
2,kmean_k5_mark_vs_Normal karyotype,0.000500,53.712558,NaN,***
3,kmean_k5_mark_vs_t(9;11)(p22;q23),0.000500,32.842112,NaN,***
4,kmean_k5_mark_vs_t(8;21)(q22;q22),0.001000,24.505486,NaN,***
5,kmean_k5_mark_vs_inv(16)(p13q22),0.000500,22.813441,NaN,***
6,kmean_k5_mark_vs_'+8,0.040480,9.533820,NaN,*
7,kmean_k5_mark_vs_t(6;11)(q27;q23),0.929035,1.072300,NaN,NS.
8,kmean_k5_mark_vs_del(5),0.620190,2.659331,NaN,NS.
9,kmean_k5_mark_vs_del(11q),0.018491,12.687941,NaN,*
10,kmean_k5_mark_vs_del(5q)/del(7q),0.000500,43.175610,NaN,***
11,kmean_k5_mark_vs_t(15;17)(q22;q11-21),0.000500,37.498960,NaN,***
12,kmean_k5_mark_vs_del(9q),0.047476,9.846353,NaN,*
13,kmean_k5_mark_vs_Complex karyotype,0.011494,13.076016,NaN,*
14,kmean_k5_mark_vs_t(6;9)(p23;q34),0.048476,9.846353,NaN,*
15,kmean_k5_mark_vs_del(7q),0.005997,17.622061,NaN,**
16,kmean_k5_mark_vs_'-Y,0.088456,8.375072,NaN,NS.
17,kmean_k5_mark_vs_'+21,1.000000,1.108659,NaN,NS.
18,kmean_k5_mark_vs_del(5q),0.038481,10.503249,NaN,*
19,kmean_k5_mark_vs_del(20q),0.247376,5.080602,NaN,NS.
20,kmean_k5_mark_vs_del(12p),0.786107,2.118695,NaN,NS.
21,kmean_k5_mark_vs_del(5q)/del(7q)/-Y,0.000500,40.105353,NaN,***

In [8]:
output_f = os.path.join(output_dir, "20250606_23_MDS_sAML_AML_tumor_chisq_cell_kmean_merge_vs_Karyotype.xls")
merge_df.to_csv(output_f,index = False)