In [10]:
import pandas as pd
import os,sys
from pathlib import Path

In [11]:
output_dir = "/share/home/wyz/Project/result/2025/202506/20250605_20250520_1_cibersortx_tumor_cell_kmean_5448_MDS_sAML_AML_merge/20250606_21_MDS_sAML_AML_tumor_chisq_cell_kmean_merge"

In [12]:
## input
HBG_f = "/share/home/wyz/Project/result/2025/202506/20250605_20250520_1_cibersortx_tumor_cell_kmean_5448_MDS_sAML_AML_merge/20250606_9_MDS_sAML_AML_tumor_cell_kmean_and_clinical_data_cor_data/20250606_1_stat_df_kruskal_Haemoglobin.xls"

In [13]:
WBC_f = "/share/home/wyz/Project/result/2025/202506/20250605_20250520_1_cibersortx_tumor_cell_kmean_5448_MDS_sAML_AML_merge/20250606_9_MDS_sAML_AML_tumor_cell_kmean_and_clinical_data_cor_data/20250606_1_stat_df_kruskal_WBC.xls"

In [14]:
NUC_f = "/share/home/wyz/Project/result/2025/202506/20250605_20250520_1_cibersortx_tumor_cell_kmean_5448_MDS_sAML_AML_merge/20250606_9_MDS_sAML_AML_tumor_cell_kmean_and_clinical_data_cor_data/20250606_1_stat_df_kruskal_Neutrophile_Count.xls"

In [15]:
PLT_f = "/share/home/wyz/Project/result/2025/202506/20250605_20250520_1_cibersortx_tumor_cell_kmean_5448_MDS_sAML_AML_merge/20250606_9_MDS_sAML_AML_tumor_cell_kmean_and_clinical_data_cor_data/20250606_1_stat_df_kruskal_Platelet_Count.xls"

In [16]:
HBG_df =  pd.read_csv(HBG_f,sep="\t")
HBG_df

                               p_value  statistic  df
kmean_k5_mark_vs_Haemoglobin  0.076092   8.460538   4

In [17]:
WBC_df =  pd.read_csv(WBC_f,sep="\t")
WBC_df

                       p_value  statistic  df
kmean_k5_mark_vs_WBC  0.057774   9.136627   4

In [18]:
NUC_df =  pd.read_csv(NUC_f,sep="\t")
NUC_df

                                     p_value  statistic  df
kmean_k5_mark_vs_Neutrophile_Count  0.041075   9.961873   4

In [19]:
PLT_df =  pd.read_csv(PLT_f,sep="\t")
PLT_df

                                      p_value  statistic  df
kmean_k5_mark_vs_Platelet_Count  4.806829e-11  54.187905   4

In [20]:
## 按行合并
merge_df = pd.concat([HBG_df,WBC_df,NUC_df,PLT_df],axis=0)
merge_df

                                         p_value  statistic  df
kmean_k5_mark_vs_Haemoglobin        7.609245e-02   8.460538   4
kmean_k5_mark_vs_WBC                5.777371e-02   9.136627   4
kmean_k5_mark_vs_Neutrophile_Count  4.107484e-02   9.961873   4
kmean_k5_mark_vs_Platelet_Count     4.806829e-11  54.187905   4

In [24]:
# 行索引转为第一列，并命名为 Group
merge_df.reset_index(inplace=True)
merge_df.rename(columns={"index":"Group"},inplace=True)
merge_df

,Group,p_value,statistic,df,p_value_mark
0,kmean_k5_mark_vs_Haemoglobin,7.609245e-02,8.460538,4,NS.
1,kmean_k5_mark_vs_WBC,5.777371e-02,9.136627,4,*
2,kmean_k5_mark_vs_Neutrophile_Count,4.107484e-02,9.961873,4,*
3,kmean_k5_mark_vs_Platelet_Count,4.806829e-11,54.187905,4,***

In [25]:
# 根据条件标记新的列
def mark_p_value(row):
    if row['p_value'] <= 0.001:
        return "***"
    elif row['p_value'] <= 0.01:
        return "**"
    elif row['p_value'] <= 0.059:
        return "*"
    else:
        return "NS."
 
merge_df['p_value_mark'] = merge_df.apply(mark_p_value, axis=1)
merge_df

,Group,p_value,statistic,df,p_value_mark
0,kmean_k5_mark_vs_Haemoglobin,7.609245e-02,8.460538,4,NS.
1,kmean_k5_mark_vs_WBC,5.777371e-02,9.136627,4,*
2,kmean_k5_mark_vs_Neutrophile_Count,4.107484e-02,9.961873,4,*
3,kmean_k5_mark_vs_Platelet_Count,4.806829e-11,54.187905,4,***

In [26]:
output_f = os.path.join(output_dir, "20250606_22_MDS_sAML_AML_tumor_chisq_cell_kmean_merge_vs_seq_stat.xls")
merge_df.to_csv(output_f,index = False,sep="\t")